#easy {
  
  
  width: 350px;
  height: 350px;
  border-radius: 150px;
  border-color: white;
  background-color: green;
  font-size: 100px;
  color: white;
  
  
}

#wow{
  width: 100;
  height:100;
  font-size: 15;
  border-color: white;
  background-color: green;
  color: white;
  
  
  
}

#Home{
  width: 100;
  height:100;
  font-size: 15;
  border-color: white;
  background-color: green;
  color: white;
  
  
  
}
